# In all environments, the following files are loaded if they exist,
# the latter taking precedence over the former:
#
#  * .env                contains default values for the environment variables needed by the app
#  * .env.local          uncommitted file with local overrides
#  * .env.$APP_ENV       committed environment-specific defaults
#  * .env.$APP_ENV.local uncommitted environment-specific overrides
#
# Real environment variables win over .env files.

###> db ###
DATABASE_NAME=app
DATABASE_URL="pgsql:host=database;port=5432;dbname=${DATABASE_NAME}"
DATABASE_USERNAME=app
DATABASE_PASSWORD="!ChangeMe!"
# POSTGRES_ * envs are for the prod docker-compose:database, and they must be aligned with DATABASE_* values
POSTGRES_DB="${DATABASE_NAME}"
POSTGRES_PASSWORD="${DATABASE_PASSWORD}"
POSTGRES_USER="${DATABASE_USERNAME}"

###< db ###

###> mailer ###
MAILER_DSN=smtp://mailcatcher:1025
MAILER_FROM_EMAIL=
MAILER_FROM_NAME=
###< mailer ###

###> Parsed sites ###
PT_URL=
###< Parsed sites ###

###> Telegram ###
TELEGRAM_BOT_TOKEN=
TELEGRAM_BOT_NAME=
TELEGRAM_ADMIN_ID=
###< Telegram ###

###> Current URL: for console mostly ###
CURRENT_URL=
###< Current URL ###

###> Cloudflare Tunnel ###
CF_TUNNEL_TOKEN=
###< Cloudflare Tunnel ###