# In all environments, the following files are loaded if they exist,
# the latter taking precedence over the former:
#
#  * .env                contains default values for the environment variables needed by the app
#  * .env.local          uncommitted file with local overrides
#  * .env.$APP_ENV       committed environment-specific defaults
#  * .env.$APP_ENV.local uncommitted environment-specific overrides
#
# Real environment variables win over .env files.

###> db ###
DATABASE_URL="pgsql:host=database;port=5432;dbname=app"
DATABASE_USERNAME=app
DATABASE_PASSWORD="!ChangeMe!"
###< db ###

###> mailer ###
MAILER_DSN=smtp://mailcatcher:1025
MAILER_FROM_EMAIL=
MAILER_FROM_NAME=
###< mailer ###

###> Parsed sites ###
PT_URL=
###< Parsed sites ###

###> Telegram ###
TELEGRAM_BOT_TOKEN=
TELEGRAM_BOT_NAME=
###< Telegram ###